<h1>Reviews for <%= link_to @movie.name, @movie %></h1>
<ul
  class="reviews"
>
  <% @reviews.each do |review| %>
    <li 
      style="
        background-color:rgb(226, 234, 235);
        border: 1px solid rgb(194, 224, 236);
        border-radius: 0 20px 20px 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
      "
    >
      <div style="display: flex; align-items: center;">
        <div style="border-radius: 999px; overflow: hidden; width: fit-content; height: fit-content;">
          <%= profile_image(review.user, 35) %> 
        </div>
        <p style="margin: 0 0 0 5px;">
          <strong><%= link_to review.user.name, review.user %></strong>
        </p>
        <%= render "shared/stars", percent: review.stars_as_percent %>
      </div>
      <p style="margin-top: 10px; margin-bottom: 0; font-size: 16px;"> 
        <%= review.comment %>
      </p>
      <span class="date" style="align-self: flex-end; font-size: 12px;">
        <%= time_ago_in_words(review.created_at) %> ago
      </span>
    </li>
  <% end %>
</ul>